# Bảo mật
.env
.streamlit/secrets.toml
.devcontainer

# File nặng & Dữ liệu
Train.zip
dataset/
outputs/
baocao/    # Nếu bạn không muốn công khai file báo cáo word/pdf
bat/       # Các file script chạy batch cục bộ

# IDE & Python
.idea/
__pycache__/
venv/
bat/run_ai.bat

a.py/
appx.py/