streamlit
streamlit-autorefresh
streamlit-webrtc

numpy==1.26.4
opencv-python-headless==4.8.1.78
av
ultralytics
easyocr

pymongo
dnspython
python-dotenv

twilio==9.10.4
payos

setuptools<70
pytz
pandas

