streamlit==1.32.0
streamlit-autorefresh
streamlit-webrtc==0.47.1

numpy==1.24.4
opencv-python-headless==4.7.0.72


av
ultralytics
easyocr

pymongo
dnspython
python-dotenv

twilio==9.10.4
payos

setuptools<70
pytz
pandas==1.5.3

plotly
